/* general rules */

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',
    sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}
/*************/

/*Navbar*/

.navbar .logo{
    font-family: fantasy;
    font-size: 25px;
}

.navbar ul,
.navbar ul li{
    display: inline-block;
    text-align: center;
}

.navbar .nav-links{
    margin: 0 24%;
    text-transform: uppercase;
    font-family: 'Nunito',
    sans-serif;
    font-weight: bolder;
}
.navbar .link{
    padding: 0 15px 0 15px;
    font-family: Coronet script;
    font-size: 18px;
}

.navbar .link a{
    color: black;
}

.navbar .media{
    float: right;
    margin-right: 17px;
    margin-top: 35px;
}

/* name */

#name {
    background-image: url(../images/code-moded.jpg);
    background-repeat: no-repeat;
    height: 470px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 75px;
    clear: both;
}

#name .deets{
    width: 350px;
    height: 280px;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.1);
    color: #fff;
    padding-top: 35px;
    margin: 10px auto;
    border: 1px solid #333;
}

#name .deets .contact {
    border: 2px solid #eee;
    padding: 7px;
    margin-top: 10px;
    border-radius: 4px;
}


/* about-me */

#about-me {
    padding-top: 10px;
    height: 300px;
    line-height: 1.4rem;
}

#about-me .heading {
    float: left;
    padding: 30px;
    width: 300px;
    text-shadow: 5px 3px 3px #c0c0c0;
}

#about-me .heading::after{
    overflow: none;
    display: none;
    clear: both;
}
#about-me .resume{
    padding: 10px;
    font-size: 18px;
    /* border: 1px solid #333; */
    margin-top: 40px;
    text-transform: capitalize;
    background-color: #696969;
    color: #eee;
    border-radius: 3px;
}

#about-me .resume a{
    color: #eee;
}

/* skills */

#skills {
    background-color: #3d3c3a;
    text-align: center;
    color: #eee;
    padding: 20px 0;
    overflow: auto;
}

#skills .skills-heading{
    text-shadow: 5px 3px 3px #181515;
}

#skills p{
    width: 88%;
    margin: 0 auto;
}

#skills .focus{
    float: left;
    margin: 0 auto;
    text-align: right;
    width: 40%;
}

#skills .disciplines{
    display: flex;
    float: right;
    margin: 0 auto;
    text-align: left;
    width: 40%;
}

.disciplines ul{
    padding: 0;
}

.disciplines li{
    display: inline-block;
    width: 40%;
    padding: none;
}

.disciplines .langs .fab{
    font-size: 80px;
    padding: 10px;
    /* display: inline-block; */
}

.langs .html {
    color: #e34c26;
}
.langs .css {
    color: #264de4;
}

.langs .js {
    color: #f0db4f;
}

/* portfolio */
#portfolio{
    overflow: auto;
}

#portfolio h1{
    text-shadow: 5px 3px 3px #c0c0c0;
    padding: 20px 40px;
}

#portfolio ul{
    margin: 10px auto;
}

#portfolio .projects-gallery {
    width: 90%;
    margin: 0 auto;
}


#portfolio .projects-gallery .flex-gallery {
    display: flex;
    padding: 0;
}

#portfolio .projects-gallery .project-data {
    padding: 1rem 1.5rem;
}

.flex-gallery h3 {
    color: #4a4a4e;
}

.flex-gallery p {
    color: #4a5568;
    margin-bottom: 0;
}

#portfolio li{
    border-radius: .25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -2px rgb(0 0 0 / 5%);
    display: inline-block;
    margin-right: 3rem;
}

#portfolio .info{
    width: 30%;
}

#portfolio .project{
    width: 400px;
    height: 210px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

#portfolio .live-demo{
    margin: 5px;
    padding: 5px;
    border: 1px solid purple;
    border-radius: 4px;
    color: purple;
    font-family: monospace;
    font-size: 15px;
}

#portfolio .github{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 4px;
    color: rgb(99, 99, 99);
    font-family: monospace;
    font-size: 15px;
}

/* #portfolio .live-demo:hover{
    color: #fff;
    background-color: purple;
} */

#portfolio .tech-cont {
    padding: 1rem 1.5rem;
}

#portfolio .tech{
    display: inline-block;
    border: 1px solid #e2e8f0;
    padding: .25rem .75rem;
    margin: 5px 5px;
    background-color: #edf2f7;
    font-weight: 600;
    font-size: .875rem;
    border-radius: 9999px;
    color: #4a5568;
}

#portfolio .ext-link {
    text-decoration: underline;
}

/* footer */

footer{
    background-color: #120e04   ;
    color: #bbb;
    text-align: center;
}

footer .reach{
    text-align: center;
    padding-right: 35px;
}

.contact{
    overflow: auto;
    margin-top: 10px;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.contact a{
    color: #bbb;
}

footer .fab, footer .fas{
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 40px;
}

footer ul{
    width: 100%;
    text-align: center;
    overflow: auto;
}
footer li{
    float: left;
    margin: 0 auto;
    padding-right: 15%;
    padding-left: 8%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Media Querries */

@media only screen and (max-width: 600px) {
     .navbar .nav-links{
        display: none;
    }

    .navbar .media{
        margin-top: 22px;
    }
    .navbar .deets{
        width: 100%;
        padding-right: 10px;
    }

    .navbar .media .fab{
        font-size: 30px;
    }

    /* Name */

    #name{
        margin: 5px;
    }

    #name .deets{
        width: 89%;
    }
    /*About Me*/
    #about-me{
        width: 95%;
        margin: 5px;
        padding: 5px;
        height: auto;
        text-align: center;
    }

    #about-me .heading{
        width: 100%;
        padding: 0% 0%;
    }

    #about-me .personal{
        display: block;
    }

    /* skills */

    #skills .focus{
        display: none;
    }

    #skills .disciplines{
        display: block;
        width: 100%;
        text-align: center;
    }

    .disciplines li{
        width: 49%;
    }

    .disciplines li img{
        padding: 10px;
    }
    /*portfolio*/

    #portfolio h1{
        padding: 0% 28%;
        text-align: center;
    }

    hr{
        border-top: 1px solid #8c8b8b;
        border-bottom: 1px solid #fff;
        width: 90%;
        margin-top: 5%;
    }

    #portfolio h3{
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }

    #portfolio .projects-gallery .flex-gallery {
        display: block;
    }

    #portfolio .project{
        margin: 15px 0;
        width: 95%;
        height: 0%;
        padding: 5px 4.5%;
        border: none;
    }

    #portfolio li {
        width: 100%;
        margin-top: 10px;
    }

    #portfolio .tech{
        display: inline-block;
    }

    #portfolio .tech-cont{
        padding: 0px 4%;
    }

    #portfolio .live-demo {
        margin: 5px 5.4%;
        display: inline-block;
    }

    #portfolio .live-links {
        text-align: center;
    }

    #portfolio .github {
    margin: 5px 5.4%;
    width: 5rem;
    display: inline-block;
    /* width: max-content; */
}

    /*footer*/
    footer .reach{
        padding-right: 0;
    }

    footer ul{
        padding: 0%;
    }

    footer li{
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 5px 0%;
    }
}